<div id="pokedex" class="container">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">Pokedex</h2>
        </div>

        <div class="row">
            <div id="display" class="col-md-5">
                <img class="img-responsive" ng-src="../assets/images/pokemon/front/{{currentSpecies.id || 0}}.png">

                <div id="description" ng-if="currentSpecies">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Number</label>
                            <div class="col-md-9">
                                <p class="form-control-static">{{currentSpecies.id}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Species</label>
                            <div class="col-md-9">
                                <p class="form-control-static">{{currentSpecies.speciesName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Type 1</label>
                            <div class="col-md-9">
                                <p class="form-control-static">{{currentSpecies.type1}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Type 2</label>
                            <div class="col-md-9">
                                <p class="form-control-static">{{currentSpecies.type2}}</p>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-default">Add to Party</button>
                </div>

            </div>
            <div id="pokedexList" class="col-md-7">
                <table class="table table-hover">
                    <tr>
                        <th>Number</th>
                        <th>Species Name</th>
                        <th>Type 1</th>
                        <th>Type 2</th>
                    </tr>
                    <tr ng-repeat="species in speciesList" ng-click="selectSpecies(species.id)" ng-class="{'active' : species.active}">
                        <td>{{species.id}}</td>
                        <td>{{species.speciesName}}</td>
                        <td>{{species.type1}}</td>
                        <td>{{species.type2}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>